.title {
    text-align: center;
    color: darkgray;
}

.container {
    font-size: 16px;
    padding: 2%;
}

@media (min-width: 600px) {
    .container {
        padding: 2% 10%;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 2% 20%;
    }
}

.bottom-container {
    display: flex;
    padding: 16px;
}

.bottom-child {
    margin-left: auto;
}

