.App {
  text-align: center;
}
html, body, body > div, .App {
  height: 100%;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 100%;
  width: 100%;
}
.AppBox {
  border-radius: 15px;
}

.FilterButtons {
  display: flex;
  align-items: center;
  place-content: space-around;
}

.NumberOfTodos  {
  font-size: smaller;
}


